/* .container{
    display:flex;
    margin-top:55px;
    justify-content: center;
}
h2{
    text-shadow: wheat;

    text-align:center;
}
input{
    padding:10px;
    border-radius: 15px;
    
    border-color:aqua;
    outline-style: none;
}
.btn{
    text-indent: unset;
    font-size:small;
    padding:10px;
}
.username{
    
    margin-bottom: 15px;
}
.password{
    
    margin-bottom: 15px;
}
.email{
    
    margin-bottom: 15px;
} */